body {
  margin: 0rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #73daec44;
  text-align: center;
}

header {
  text-align: left;
  line-height: 1.5rem;
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  color: #efefef;
  background-color: rgb(2, 2, 73);
}

article {
  width: 30rem;
  border: 1px white solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(252, 252, 252);
  color: rgb(2, 2, 73);
  box-shadow: 0.25rem 0.25rem 1rem 0.25rem grey;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

p {
  font-style: italic;
  font-size: 1.25rem;
}

s {
  color: rgba(146, 0, 0, 0.685);
}

button {
  background-color: rgb(0, 92, 0);
  color: white;
  padding: 0.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  border-radius: 1rem;
  border: 1px;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem grey;
  cursor: grab;
}

.newprice {
  color: rgb(0, 92, 0);
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
